################################
## Vim-related stuff, scripts,
## compiled binaries, etc.
################################
*~
*.swp
*.bat
*.sh
*.o


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini